.button {
  border: 2px solid #00BC8C;
  width: 300px;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  display: block; 
}

.home-buttons {
  width: 300px;
  margin: 0 auto;
}

.button-link {
  text-decoration: none;
  color: white;
}

.button-link:hover {
  text-decoration: none;
}

.form-input {
  border: 2px solid #00BC8C;
  background-color: #404040;
  height: 50px;
  width: 100%;
  color: white;
  display: block;
}

.more-options {
  margin-bottom: 15px;
}

.checkbox {
  display: inline;
}

.well {
  cursor: pointer;
}

.selected.well {
  background: #00BC8C;
}

.chart-header {
  color: #999999;
  padding-bottom: 10%;
}

.codes {
  color: #999999;
}

.scroll {
  height: 300px;
  overflow: scroll;
  margin: 0 auto;
  width: 300px;
}

.required {
  color: #E74C3C;
}

.float-right {
  float: right;
}

.inline {
  display: inline-block;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

.buttons {
  padding-top: 20px;
}

.navbar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
